cnvenv/
1238_game_log.txt
.coverage
classes/__pycache__/Card.cpython-312.pyc
classes/__pycache__/card.cpython-312.pyc
classes/__pycache__/Field.cpython-312.pyc
classes/__pycache__/field.cpython-312.pyc
classes/__pycache__/player.cpython-312.pyc
.gitignore
classes/__pycache__/Card.cpython-312.pyc
classes/__pycache__/Field.cpython-312.pyc
__pycache__/main.cpython-312.pyc
tests/__pycache__/test_card.cpython-312.pyc
tests/__pycache__/test_field.cpython-312.pyc
tests/__pycache__/test_main.cpython-312.pyc
tests/__pycache__/test_player.cpython-312.pyc
classes/__pycache__/Card.cpython-312.pyc
classes/__pycache__/Field.cpython-312.pyc
venv/
.venv/